<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Courses</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="public/img/favicon.ico">

    <!-- Template -->
    <link rel="stylesheet" href="static/public/graindashboard/css/graindashboard.css">
</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
<!-- Header -->
<header class="header bg-body">
    <nav class="navbar flex-nowrap p-0">


        <div class="header-content col px-md-3">
            <div class="d-flex align-items-center">
                <!-- Side Nav Toggle -->
                <a  class="js-side-nav header-invoker d-flex mr-md-2" href="#"
                    data-close-invoker="#sidebarClose"
                    data-target="#sidebar"
                    data-target-wrapper="body">
                    <i class="gd-align-left"></i>
                </a>
                <!-- End Side Nav Toggle -->

                <!-- User Notifications -->
                <div class="dropdown ml-auto">
                    <a id="notificationsInvoker" class="header-invoker" href="#" aria-controls="notifications" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#notifications" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                        <span class="indicator indicator-bordered indicator-top-right indicator-primary rounded-circle"></span>
                        <i class="gd-bell"></i>
                    </a>

                    <div id="notifications" class="dropdown-menu dropdown-menu-center py-0 mt-4 w-18_75rem w-md-22_5rem unfold-css-animation unfold-hidden" aria-labelledby="notificationsInvoker" style="animation-duration: 300ms;">
                        <div class="card">
                            <div class="card-header d-flex align-items-center border-bottom py-3">
                                <h5 class="mb-0">Notifications</h5>
                                <a class="link small ml-auto" href="#">Clear All</a>
                            </div>

                            <div class="card-body p-0">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center text-nowrap mb-2">
                                            <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                            <h6 class="font-weight-semi-bold mb-0">New Update</h6>
                                            <span class="list-group-item-date text-muted ml-auto">just now</span>
                                        </div>
                                        <p class="mb-0">
                                            Order <strong>#10000</strong> has been updated.
                                        </p>
                                        <a class="list-group-item-closer text-muted" href="#"><i class="gd-close"></i></a>
                                    </div>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex align-items-center text-nowrap mb-2">
                                            <i class="gd-info-alt icon-text text-primary mr-2"></i>
                                            <h6 class="font-weight-semi-bold mb-0">New Update</h6>
                                            <span class="list-group-item-date text-muted ml-auto">just now</span>
                                        </div>
                                        <p class="mb-0">
                                            Order <strong>#10001</strong> has been updated.
                                        </p>
                                        <a class="list-group-item-closer text-muted" href="#"><i class="gd-close"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End User Notifications -->
                <!-- User Avatar -->
                <div class="dropdown mx-3 dropdown ml-2">
                    <a id="profileMenuInvoker" class="header-complex-invoker" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#profileMenu" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                        <span class="mr-md-2 avatar-placeholder">{{username[0]}}</span>
                        <span class="d-none d-md-block">{{username}}</span>
                        <i class="gd-angle-down d-none d-md-block ml-2"></i>
                    </a>

                    <ul id="profileMenu" class="unfold unfold-user unfold-light unfold-top unfold-centered position-absolute pt-2 pb-1 mt-4 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="profileMenuInvoker" style="animation-duration: 300ms;">
                        <li class="unfold-item">
                            <a class="unfold-link d-flex align-items-center text-nowrap" href="#">
                    <span class="unfold-item-icon mr-3">
                      <i class="gd-user"></i>
                    </span>
                                My Profile
                            </a>
                        </li>
                        <li class="unfold-item unfold-item-has-divider">
                            <a class="unfold-link d-flex align-items-center text-nowrap" href="{{ url_for('logout') }}">
                    <span class="unfold-item-icon mr-3">
                      <i class="gd-power-off"></i>
                    </span>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User Avatar -->
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->

<main class="main">
    <!-- Sidebar Nav -->
    <aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Dashboard</li>
            <!-- End Title -->

            <!-- Dashboard -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="{{ url_for('home') }}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard -->

            <!-- Title -->
            <li class="sidebar-heading h6">School</li>
            <!-- End Title -->

            <!-- Users -->
            <li class="side-nav-menu-item side-nav-has-menu">
                <a class="side-nav-menu-link media align-items-center" href="#"
                   data-target="#subUsers">
                  <span class="side-nav-menu-icon d-flex mr-3">
                    <i class="gd-user"></i>
                  </span>
                    <span class="side-nav-fadeout-on-closed media-body">Users</span>
                    <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <!-- Users: subUsers -->
                <ul id="subUsers" class="side-nav-menu side-nav-menu-second-level mb-0">
                    <li class="side-nav-menu-item ">
                        <a class="side-nav-menu-link" href="{{ url_for('getStudents') }}">All Students</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="{{ url_for('registerStudent') }}">Add new Student</a>
                    </li>
                     <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="{{url_for('getLecturers')}}">All Lecturers</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="{{url_for('registerLecturer')}}">Add new lecturer</a>
                    </li>
                </ul>
                <!-- End Users: subUsers -->
            </li>
            <!-- End Users -->

            <!-- Authentication -->
          <li class="side-nav-menu-item side-nav-has-menu active side-nav-opened">
                <a class="side-nav-menu-link media align-items-center" href="#"
                   data-target="#subPages">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-book"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">courses</span>
                    <span class="side-nav-control-icon d-flex">
                <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
              </span>
                    <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                </a>

                <!-- Pages: subPages -->
                <ul id="subPages" class="side-nav-menu side-nav-menu-second-level mb-0" style="display: block;" >
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link active" href="#">All course</a>
                    </li>
                    <li class="side-nav-menu-item">
                        <a class="side-nav-menu-link" href="{{url_for('addCourse')}}">Add course</a>
                    </li>

                </ul>
                <!-- End Pages: subPages -->
            </li>
            <!-- End Authentication -->

            <!-- Settings -->
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center"  href="{{url_for('settings')}}">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-settings"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Settings</span>
                </a>
            </li>
            <!-- End Settings -->

        </ul>
    </aside>
    <!-- End Sidebar Nav -->

    <div class="content">
        <div class="py-4 px-4 px-md-4">
            <div class="card mb-3 mb-md-4">
                <div class="card-body">
                    <!-- Breadcrumb -->
                    <nav class="d-none d-md-block" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Courses</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">All courses</li>
                        </ol>
                    </nav>
                    <!-- End Breadcrumb -->

                    <div class="mb-3 mb-md-2 d-flex justify-content-between">
                        <div class="h3 mb-0">Filter</div>
                    </div>
                    <form>
                        <div class="form-row">

                             <div class="form-group col-12 col-md-3">
                                    <label for="faculty">Faculty</label>
                                   <select id="faculty" name="faculty" class="form-control">
                                   <option value="CS">Computer Science</option>
                                   <option value="IT">Information Technology</option>
                                   <option value="Telecommunication">Telecommunication</option>

                                     </select>
                                </div>
                             <div class="form-group col-12 col-md-3">
                                    <label for="department">Department</label>
                                   <select id="department" name="department" class="form-control">
                                   <option value="ENGT">school of engineering and Techonology</option>
                                     </select>
                                </div>
                             <div class="form-group col-12 col-md-1">
                                    <label for="year">Year</label>
                                    {%if year==1%}
                                   <select id="year" name="year" class="form-control">
                                         <option value="1" selected>1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                     </select>
                                    {%elif year==2%}
                                     <select id="year" name="year" class="form-control">
                                         <option value="1" >1</option>
                                        <option value="2" selected >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                     </select>
                                    {%elif year==3%}
                                     <select id="year" name="year" class="form-control">
                                         <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3" selected>3</option>
                                        <option value="4">4</option>
                                     </select>
                                     {%elif year==4%}
                                    <select id="year" name="year" class="form-control">
                                         <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4" selected>4</option>
                                     </select>
                                     {%else%}
                                     <select id="year" name="year" class="form-control">
                                         <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                     </select>
                                     {%endif%}
                                </div>
                             <div class="form-group col-12 col-md-1">
                                    <label for="semester">Semester</label>
                                   <select id="semester" name="semester" class="form-control">

                                    <option value="1" >1</option>
                                        <option value="2">2</option>

                                     </select>
                                </div>
                              <div class="form-group col-12 col-md-1">
                                  <div style="margin-top:35px" >
                                      <button class="page-link" type="submit">
                                           <i class=" d-inline-block">Filter</i></a>
                                      </button>


                                     </div>


                                </div>

                            </div>

                    </form>


                    <div class="mb-3 mb-md-3 d-flex justify-content-between">
                        <div class="h3 mb-0">Courses</div>
                    </div>
                      {%if next %}
                    <!-- Courses -->
                    <div class="table-responsive-xl">
                        <table class="table text-nowrap mb-0">
                            <thead>
                            <tr>

                                <th class="font-weight-semi-bold border-top-0 py-2">Course code</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Description</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Faculty</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Department</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Year</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Semester</th>
                                <th class="font-weight-semi-bold border-top-0 py-2">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for course in courses %}

                            <tr>

                                <td class="align-middle py-3">
                                    <div class="d-flex align-items-center">
                                       {{course['course_code']}}
                                    </div>
                                </td>
                                <td class="py-3">{{course['description']}}</td>
                                <td class="py-3">{{course['faculty']}}</td>
                                 <td class="py-3">{{course['department']}}</td>
                                  <td class="py-3">{{course['year']}}</td>
                                  <td class="py-3">{{course['semester']}}</td>
                                <td class="py-3">
                                    <div class="position-relative">
                                        <a class="link-dark d-inline-block" href="updateCourse?id={{course['_id']}}">
                                            <i class="gd-pencil icon-text"></i>
                                        </a>
                                        <a class="link-dark d-inline-block" href="deleteCourse?id={{course['_id']}}">
                                            <i class="gd-trash icon-text"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {%endfor %}
                            </tbody>
                        </table>
                        <div class="card-footer d-block d-md-flex align-items-center d-print-none">
                            <div class="d-flex mb-2 mb-md-0">{{entries}}</div>
                            <nav class="d-flex ml-md-auto d-print-none" aria-label="Pagination">
                                <ul class="pagination justify-content-end font-weight-semi-bold mb-0">
                                    <li class="page-item {%  if previous < 0%}disabled  {% endif %} ">
                                        {% if faculty%}
                                         <a id="datatablePaginationPrev" class="page-link" href="getCourse?faculty={{faculty}}&department={{department}}&year={{year}}&semester={{semester}}&limit=5&offset={{previous}}" aria-label="Previous">
                                            <i class="gd-angle-left icon-text icon-text-xs d-inline-block"></i>
                                        </a>

                                          {%else%}
                                         <a id="datatablePaginationPrev" class="page-link" href="getCourse?limit=5&offset={{previous}}" aria-label="Previous">
                                            <i class="gd-angle-left icon-text icon-text-xs d-inline-block"></i>
                                        </a>

                                        {% endif %}


                                    </li>
                                    <li class="page-item {%  if next >=total %}disabled  {% endif %}">

                                         {% if faculty%}
                                         <a id="datatablePaginationPrev" class="page-link" href="getCourse?faculty={{faculty}}&department={{department}}&year={{year}}&semester={{semester}}&limit=5&offset={{next}}" aria-label="Next">
                                             <i class="gd-angle-right icon-text icon-text-xs d-inline-block"></i></a>
                                        </a>

                                          {%else%}
                                        <a id="datatablePaginationNext" class="page-link" href="getCourse?limit=5&offset={{next}}" aria-label="Next">
                                        <i class="gd-angle-right icon-text icon-text-xs d-inline-block"></i></a>

                                        {% endif %}



                                </li></ul></nav>
                        </div>
                    </div>
                      {%else%}
                  <div class="alert-background-error">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                  {% for category, message in messages %}
               <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span class="span_text">{{ message }}</span>
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="span_text">×</span>
                </button>
            </div>
              {% endfor %}
          {% endif %}
         {% endwith %}
                    </div>

                    <!-- End courses -->
                    {%endif%}
                </div>
            </div>


        </div>

    </div>

</main>


<script src="static/public/graindashboard/js/graindashboard.js"></script>
<script src="static/public/graindashboard/js/graindashboard.vendor.js"></script>

</body>
</html>