<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="public/img/favicon.ico">

    <!-- Template -->
    <link rel="stylesheet" href="static/public/graindashboard/css/graindashboard.css">
  </head>

  <body class="">

    <main class="main">
      <div class="content">
			<div class="container-fluid pb-5">
				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Login</h4>
								   <div class="alert-background">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                  {% for category, message in messages %}
               <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span class="span_text">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="span_text">×</span>
                </button>
            </div>
              {% endfor %}
          {% endif %}
         {% endwith %}
                    </div>

								<form method=POST action="{{ url_for('login') }}">
									<div class="form-group">
										<label for="username">Username</label>
										<input id="username" type="username" name="username" class="form-control"  required="" autofocus="">
									</div>

									<div class="form-group">
										<label for="password">Password
										</label>
										<input id="password" type="password" class="form-control" name="pass" required="">
										<div class="text-right">
											<a href="password-reset.html" class="small">
												Forgot Your Password?
											</a>
										</div>
									</div>

									<div class="form-group">
										<div class="form-check position-relative mb-2">
										  <input type="checkbox" class="form-check-input d-none" id="remember" name="remember">
										  <label class="checkbox checkbox-xxs form-check-label ml-1" for="remember"
												 data-icon="&#xe936">Remember Me</label>
										</div>
									</div>

									<div class="form-group no-margin">
										 <button type="submit" class="btn btn-primary btn-block">Login</button>

									</div>
									<div class="text-center mt-3 small">
										Don't have an account? <a href="register.html">Sign Up</a>
									</div>
								</form>
							</div>
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">&copy; 2021 Changole. All Rights Reserved.</span>
								</div>
							</div>
						</footer>
					</div>
				</div>



			</div>

      </div>
    </main>

	<script src="static/public/graindashboard/js/graindashboard.js"></script>
    <script src="static/public/graindashboard/js/graindashboard.vendor.js"></script>
  </body>
</html>